{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('show_timeslots') }}" method="post">
    <dl>
      <dt>Room:
      <dd><select name="roomId">
        {% for room in rooms %}
          <option value="{{ room }}">{{ room }}</option>
        {% endfor %}
      </select>
      <dd><input type="submit" value="Search">
    </dl>

  <ul class=timeslots>
    {% for timeslot in timeslots %}
      <li>{{ timeslot.start_time }} {{ timeslot.duration }} {{ timeslot.available }} {{ timeslot.title }} {{ timeslot.room_id }}</li>
    {% endfor %}
  </ul>
{% endblock %}
